@{
    ViewBag.Title = "Quản Trị - Thoát Tài Khoản Thành Công";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<p class="alert alert-success">Thoát tài khoản thành công. Click vào @Html.ActionLink("đây", "Index", "Default") để về trang chủ</p>
