<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>  
  <connectionStrings>
    <add name="QuanLySIMConnection" connectionString="Data Source=ITEXPLORE-PC\ITEXPLORESQLSEV; Initial Catalog=QuanLySIM;User Id=sa;Password=123456;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>