@{
    ViewBag.Title = "Quản Lý SIM - Đăng Ký Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="alert alert-success">Khởi tạo tài khoản thành công. Bạn có thể đăng nhập vào tài khoản tại @Html.ActionLink("đây", "Login", "Customer")</p>
