@{
    ViewBag.Title = "Quản Lý SIM - Đặt Hàng Thất Bại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="alert alert-success">Có lỗi trong quá trình đặt hàng. Vui lòng thử lại sau</p>
