@{
    ViewBag.Title = "Trang Không Tìm Thấy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Trang Không Tìm Thấy</h3>
  </div>
  <div class="panel-body">
    Hãy chắc chắn rằng liên kết của bạn đã chính xác. Click vào @Html.ActionLink("đây", "Index", "Default") để trở về Trang Chủ
  </div>
</div>